body {
}
.title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}
.authors, .keywords {
    font-size: small;
    font-style: italic;
    margin-bottom: 10px;
}
.abstract {
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
}
/*WileySD: Headings*/
p.h1 {
font-size: x-large;
font-weight: bold;
text-align: center;
text-indent: 0;
margin-top: 36px;
margin-bottom: 5px;
background-color: transparent;
color: #000;
}
p.h2 {
font-size: large;
font-weight: bold;
text-align: center;
text-indent: 0;
margin-top: 24px;
margin-bottom: 5px;
background-color: transparent;
color: #000;
}
p.h3 {
font-size: large;
font-weight: bold;
font-style: italic;
text-align: left;
text-indent: 0;
margin-top: 20px;
margin-bottom: 5px;
background-color: transparent;
color: #000;
}
p.h4 {
font-size: medium;
font-weight: bold;
font-style: italic;
text-align: left;
text-indent: 0;
margin-top: 20px;
margin-bottom: 5px;
background-color: transparent;
color: #000;
}
